<li style="margin-bottom:1em;" markdown="1"> (10 pts) This assignment should be submitted by <em>scanning the pages in the correct order</em> to a PDF file and uploading to <https://gradescope.com>.

For more information, visit <http://ucsb-c8.github.io> and look for [Gradescope: Student Self Submission](http://ucsb-cs8.github.io/topics/gradescope_student_self_submission/) 
    under "topics".

Even though it is a Gradescope submission, nevertheless, *please fill in the information at the top of this homework sheet*, including
your name and umail address.  

</li>
